@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}
:root{
    /* --container-color: #2f30a8;
    --second-color: #646fd4;
    --text-color: #9ba3eb;
    --bg-color: #ebf0ff; */
    /* --container-color: #ebf0ff;
    --second-color: #646fd4;
    --text-color: #2f30a8;
    --bg-color: #9ba3eb; */
    --container-color: #646fd4;
    --second-color: #2f30a8;
    --text-color: #9ba3eb;
    --bg-color: #ebf0ff; 
    --hover-color: #1c1ca7;
}
::selection{
    color: var(--bg-color);
    background: var(--second-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* img{
    width: 100%;
} */
section{
    padding: 3rem 0 2rem;
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/*Header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0, 4%, 14% / 10);
    transition: 0.4s;
}

header.shadow .logo{
    color: var(--text-color)
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color)
}
.logo span{
    color: var(--second-color);
}
.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color)
}

.login:hover{
    background: var(--hover-color);
}

/*Home*/
.home{
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-text{
    color: var(--bg-color);
    text-align: center;
}
.home-title{
    font-size: 3.5rem;
}
.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}

body{
    background-color: var(--container-color);
}

/*Form Specific*/
/* Style the form container */
#enterDetails {
    background-color: white; /* Set the background color to white */
    border-radius: 10px; /* Round the corners */
    padding: 20px; /* Add some padding */
    max-width: 400px; /* Set a maximum width */
    margin: 0 auto; /* Center the form container horizontally */
    text-align: center; /* Center the text fields */
    margin-top: 10%;
}

/* Style the text fields */
#enterDetails input[type="text"], #enterDetails input[type="number"] {
    width: 100%; /* Make text fields occupy the full width of the container */
    padding: 10px; /* Add padding to the text fields */
    margin: 10px 0; /* Add margin to space them out */
    border: 1px solid var(--text-color); /* Add a border to the text fields */
    border-radius: 4px; /* Round the corners of the text fields */
}


